<menu>
    <Additional order="9999" VisibleName="&#160;&#160;&#160;Дополнительно" cssClass="fa fa-th-large fa-fw">
        <Ethname order="10" VisibleName="Ethname" url="/ui/additional/index/ethname"/>
        <GeoIPUpdate order="20" VisibleName="GeoIP update" url="/ui/additional/index/geoipupdate"/>
        <CheckStatus order="30" VisibleName="Check VPN status" url="/ui/additional/index/checkstatus"/>
        <CheckWAN order="40" VisibleName="Check WAN" url="/ui/additional/index/checkwan"/>
        <Updater order="50" VisibleName="Update" url="/ui/additional/index/updater"/>
    </Additional>
</menu>
