<acl>
    <page-additional-ethname>
        <name>WebCfg - Additional: Ethname</name>
        <description>Allow access to Ethname editor</description>
        <patterns>
            <pattern>ui/additional/index/ethname</pattern>
            <pattern>api/additional/ethname/*</pattern>
        </patterns>
    </page-additional-ethname>
    <page-additional-geoipupdate>
        <name>WebCfg - Additional: GeoIP update</name>
        <description>Allow access to Additional GeoIP update</description>
        <patterns>
            <pattern>ui/additional/index/geoipupdate</pattern>
            <pattern>api/additional/geoip/*</pattern>
            <pattern>api/firewall/alias/get_geo_ip</pattern>
            <pattern>api/cron/settings/search_jobs</pattern>
                    <pattern>api/additional/scheduler/*</pattern>
        </patterns>
    </page-additional-geoipupdate>
    <page-additional-checkstatus>
        <name>WebCfg - Additional: Check VPN status</name>
        <description>Allow access to Additional Check VPN status</description>
        <patterns>
            <pattern>ui/additional/index/checkstatus</pattern>
            <pattern>api/additional/checkstatus/*</pattern>
            <pattern>api/cron/settings/search_jobs</pattern>
                    <pattern>api/additional/scheduler/*</pattern>
        </patterns>
    </page-additional-checkstatus>
    <page-additional-wireguardpeers>
        <name>WebCfg - Additional: WireGuard peers</name>
        <description>Allow access to Additional WireGuard peers</description>
        <patterns>
            <pattern>ui/additional/index/wireguardpeers</pattern>
            <pattern>api/additional/wireguardpeers/*</pattern>
            <pattern>api/additional/scheduler/*</pattern>
        </patterns>
    </page-additional-wireguardpeers>
    <page-additional-checkwan>
        <name>WebCfg - Additional: Check WAN</name>
        <description>Allow access to Additional Check WAN</description>
        <patterns>
            <pattern>ui/additional/index/checkwan</pattern>
            <pattern>api/additional/checkwan/*</pattern>
            <pattern>api/cron/settings/search_jobs</pattern>
                    <pattern>api/additional/scheduler/*</pattern>
        </patterns>
    </page-additional-checkwan>
    <page-additional-udp2raw>
        <name>WebCfg - Additional: udp2raw</name>
        <description>Allow access to Additional udp2raw</description>
        <patterns>
            <pattern>ui/additional/index/udp2raw</pattern>
            <pattern>api/additional/udp2raw/*</pattern>
            <pattern>api/additional/scheduler/*</pattern>
        </patterns>
    </page-additional-udp2raw>
    <page-additional-scheduler>
        <name>WebCfg - Additional: Scheduler</name>
        <description>Allow access to Additional Scheduler</description>
        <patterns>
            <pattern>ui/additional/index/scheduler</pattern>
            <pattern>api/additional/scheduler/*</pattern>
            <pattern>api/cron/settings/search_jobs</pattern>
        </patterns>
    </page-additional-scheduler>
    <page-additional-updater>
        <name>WebCfg - Additional: Update</name>
        <description>Allow access to Additional update manager</description>
        <patterns>
            <pattern>ui/additional/index/updater</pattern>
            <pattern>api/additional/updater/*</pattern>
                    <pattern>api/additional/scheduler/*</pattern>
        </patterns>
    </page-additional-updater>
</acl>
